* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.home {
  width: 100%;
  height: 100vh;
  background-color: #8d2dbd;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 30px;
}
.home h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 700;
  color: #ffffff;
  background: transparent;
  text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
  margin-top: 30px;
}
.home .row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.home .row h2 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 700;
  color: #FFFFFF;
  background: transparent;
  text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}
.home .row .checkBoxForm {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.home .row .checkBoxForm input {
  display: none;
}
.home .row .checkBoxForm input:checked + label #imgRadio {
  filter: saturate(100%);
}
.home .row .checkBoxForm input:checked + label .img {
  filter: saturate(100%);
  transform: scale(1);
}
.home .row .checkBoxForm #htmlLogo:checked + label {
  box-shadow: 2px 2px 50px 22px rgba(231, 118, 69, 0.87);
  background-color: #e77645;
}
.home .row .checkBoxForm #cssLogo:checked + label {
  box-shadow: 2px 2px 50px 22px rgb(69, 135, 231);
  background-color: #4587e7;
}
.home .row .checkBoxForm #jsLogo:checked + label {
  box-shadow: 2px 2px 50px 22px rgb(225, 218, 11);
  background-color: rgba(225, 218, 11, 0.9254901961);
}
.home .row .checkBoxForm #reactLogo:checked + label {
  box-shadow: 2px 2px 50px 22px rgb(45, 128, 189);
  background-color: #2d80bd;
}
.home .row .checkBoxForm #radio1:checked + label {
  box-shadow: 2px 2px 50px 22px rgba(231, 118, 69, 0.87);
  background-color: #e77645;
}
.home .row .checkBoxForm #radio2:checked + label {
  box-shadow: 2px 2px 50px 22px rgb(69, 135, 231);
  background-color: #4587e7;
}
.home .row .checkBoxForm #radio3:checked + label {
  box-shadow: 2px 2px 50px 22px rgb(225, 218, 11);
  background-color: rgba(225, 218, 11, 0.9254901961);
}
.home .row .checkBoxForm #radio4:checked + label {
  box-shadow: 2px 2px 50px 22px rgb(45, 128, 189);
  background-color: #2d80bd;
}
.home .row .checkBoxForm .checkLabel #imgRadio {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: saturate(0%);
  transition: 0.5s cubic-bezier(1, 0.12, 0.54, 3.07);
  transform-origin: center center;
}
.home .row .checkBoxForm .checkLabel {
  width: 25%;
  height: 100%;
  padding: 20px;
  background-color: rgba(24, 24, 34, 0.1882352941);
  border-radius: 81% 19% 81% 19%/19% 81% 19% 81%;
  box-shadow: 2px 2px 10px #181822;
}
.home .row .checkBoxForm .checkLabel .img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: saturate(0%);
  transform: scale(0);
  transition: 0.5s cubic-bezier(1, 0.12, 0.54, 3.07);
  transform-origin: center center;
}/*# sourceMappingURL=index.css.map */